@charset "utf-8";
/* CSS Document */

:root{
    --green: rgb(47, 201, 47);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: orange;
    padding: 10px 0 50px 10px;
    color: white;
}

body{
    width: 100%;
    background-color: rgb(215, 215, 215);
}

article{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

nav{
    background-color: rgb(5, 208, 208);
    width: 20%;
    height: 150px;
    padding: 10px;
}

main {
    background-color: white;
    width: 60%;
    height: 80vh;
    padding: 10px;
}

a{
    text-decoration: none;
    color: rgb(10, 10, 171);
}

main p{
    font-size: 22px;
}

h1{
    font-size: 25px;
    color: white;
    text-shadow: 1px 2px 2px black;
    padding: 10px 0px 10px 0px;
}

section{
    background-color: var(--green);
    width: 20%;
    height: 150px;
    padding: 10px;
}

footer{
    background-color: var(--green);
    color: white;
    text-shadow: 1px 2px 2px black;
    padding: 10px;
    font-size: 22px;
    position: absolute;
    width: 100%;
    bottom: 0;
}